.all-rating-page-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .rating-page-div {
        display: flex;
        flex-direction: row;
        width: 100%;

        .image-display-div {
            height: 650px;
            width: 70%;

            .images-dashboard {
                height: 650px;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                overflow-y: auto;
                margin-top: 0px;
                margin-left: 20px;
                margin-right: 20px;

                .cardContainer {
                    width: 120px;
                    height: 87px;
                }

                .imageCard {
                    padding: 3px;
                    height: 176px;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }

        .baskets-div {
            height: 500px;
            width: 30%;
        }
    }
}

.buttons-in-modal{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}
