.cardContainer {
  height: auto;
  width: auto;

}

.imageCard {
  padding: 4px;
  height: 176px;
  width: 100%;

  object-fit: contain;

}




.cardContainer2 {
  width: auto;
}

.imageCard2 {
  padding: 0px;
  margin: 5px;
  width: auto;
}