.finish-div{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.thank-you-div{
    width: 70%;
    height: 100vh;
    gap: 10px;
    display: flex;
    color: black;
    width: 70%;
	margin-top: 50px;
	font-size: 25px;
    line-height: 1.4;
	font-weight: bold;
}
.header-wrapper{
	.header-div{
		display: flex;
		justify-content: center;
		color: black;
		align-items: center;
	}

}