.center-div {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.box-div {
  background-color: #708ea3;
  width: 400px;
  height: 400px;
}

.head-div {
  margin-bottom: 50px;
}

.button-div {
  gap: 30px;

  button {
    background-color: rgb(80, 92, 104);
  }
}
