.header-wrapper{
	display: flex;
	flex-direction: column;
	.header-div{
		display: flex;
		justify-content: center;
		color: black;
		align-items: center;
	}

}
.guidelines-div{
	display: flex;
	flex-direction: row;
	overflow-y: auto;
	height: 80%;
	margin-top: 50px;
	max-height: 65vh;
}
.left-div{
    width: 20%;
}
.text-div{
    width: 70%;
	margin-left: -50px;
	font-size: 25px;
    line-height: 1.4;
	font-weight: bold;

}

.button-div{
	width: 100%;
	display: flex;
	justify-content: center;

	button{
		margin-top: 20px;
        background-color: #708ea3;
        border: 0 solid #E5E7EB;
        box-sizing: border-box;
        color: white;
        display: flex;
        font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1rem;
        font-weight: 500;
        justify-content: center;
        line-height: 1.75rem;
        padding: .75rem 1.65rem;
        position: relative;
        text-align: center;

	}

}

@media screen and (max-width: 400px) {
	.guidelines-div{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		
	}

}